version: '3.5'

services:
  janitor:
    image: flaviostutz/docker-janitor
    build: .
    deploy:
      mode: global
    environment:
      - TIME_BETWEEN_RUNS=86400
      - UNUSED_TIME=24h
      - SKIP_RANDOM_BACKOFF=true
      - RUN_ON_STARTUP=false
      - PRUNE_VOLUMES=true
      - HOUR_OF_DAY_START=21
      - HOUR_OF_DAY_END=22
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

